/*

What are Pseudo-Elements?
A CSS pseudo-element is used to style specified parts of an element.

For example, it can be used to:

Style the first letter, or line, of an element
Insert content before, or after, the content of an element


Syntax
The syntax of pseudo-elements:

selector::pseudo-element {
  property: value;
}
*/

.one>p::first-line{
	color:red;
	font-variant:small-caps;
	font-size:200%;
}

/*
Note: The ::first-line pseudo-element can only be applied to block-level elements.

The following properties apply to the ::first-line pseudo-element:

font properties
color properties
background properties
word-spacing
letter-spacing
text-decoration
vertical-align
text-transform
line-height
clear
Notice the double colon notation - ::first-line versus :first-line

The double colon replaced the single-colon notation for pseudo-elements in CSS3. This was an attempt from W3C to distinguish between pseudo-classes and pseudo-elements.

The single-colon syntax was used for both pseudo-classes and pseudo-elements in CSS2 and CSS1.

For backward compatibility, the single-colon syntax is acceptable for CSS2 and CSS1 pseudo-elements.

*/


.two>p::first-letter{
	color:red;
	font-size:xx-large;
}
/*
Note: The ::first-letter pseudo-element can only be applied to block-level elements.

The following properties apply to the ::first-letter pseudo- element: 

font properties
color properties 
background properties
margin properties
padding properties
border properties
text-decoration
vertical-align (only if "float" is "none")
text-transform
line-height
float
clear

*/

p.three::first-letter{
  color: #ff0000;
  font-size: 200%;
}
/*
The example above will display the first letter of paragraphs with class="intro", in red and in a larger size.

*/

/*

Multiple Pseudo-elements
Several pseudo-elements can also be combined.

In the following example, the first letter of a paragraph will be red, in an xx-large font size. The rest of the first line will be blue, and in small-caps. The rest of the paragraph will be the default font size and color:

*/

p.four::first-letter {
  color: #ff0000;
  font-size: xx-large;
}

p.four::first-line {
  color: #0000ff;
  font-variant: small-caps;
}

.five>h1::before{
	content:url('./smiley.png');
	
}

.six>h1::after{
	content:url('./smiley.png');
	
}


/*

CSS - The ::selection Pseudo-element
The ::selection pseudo-element matches the portion of an element that is selected by a user.

The following CSS properties can be applied to ::selection: color, background, cursor, and outline.

The following example makes the selected text red on a yellow background:

*/

::selection{
	color:red;
	background-color:black;
}
