/*

CSS counters are "variables" maintained by CSS whose values can be incremented by CSS rules 
(to track how many times they are used). 
Counters let you adjust the appearance of content based on its placement in the document.

*/
/*

Automatic Numbering With Counters
CSS counters are like "variables". The variable values can be incremented by CSS rules (which will track how many times they are used).

To work with CSS counters we will use the following properties:

counter-reset - Creates or resets a counter
counter-increment - Increments a counter value
content - Inserts generated content
counter() or counters() function - Adds the value of a counter to an element
To use a CSS counter, it must first be created with counter-reset.
*/
body{
    counter-reset:section;
}
h1{
    counter-reset:subsection;
}
h2::before{
    counter-increment:section 5;
    content:"Section " counter(section) ":  ";
}
p{
    font-size:25px;
}
p::before{
    counter-increment:subsection 1;
    content:counter(section) "." counter(subsection) ":   ";
    padding-left:10px;
}


/*
A counter can also be useful to make outlined lists because a new instance of a counter is automatically created in child elements. Here we use the counters() function to insert a string between different levels of nested counters:

-------important--------
*/
ol{
    counter-reset:x;
}
li{
    list-style-type: none;
}
li::before{
    counter-increment:x;
    content:counters(x,".") " ";
}